.cart {
    display: flex;
    width: 90px;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
    border-radius: 8px;
    border: none;
    font-size: 1.5rem;
    padding: 10px;
    cursor: pointer;
    background-color: none;
    gap: 10px;
    font-weight: 700;
}