
$primary: #b1b1b1;
$secondary: #0F52BA;
$tertiary: #ffffff;
$quaternary: #373737;

.card {
    width: 250px;
    height: 350px;
    background-color: $tertiary;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
}

.product__image {
    width: 200px;
    max-width: 200px;
}

.product__infos {
    padding: 20px;
    border-top: 1px solid #ddd;
}

.product__price {
    font-size: 25px;
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
}

.product__title {
    font-size: 15px;
    color: black;
}

div.product__infos > button {
   
    width: 210px;
    margin-top: 10px;
    background-color: $secondary;
    border: none;
    border-radius: 10px;
    padding: 10px;

}